.pizza {

    border: 1px solid;
    margin-bottom: 1em;
    padding: 1em;

}

body {
    background-image: url(pizza-2.png);
    background-color: rgb(164, 135, 99);
    color: brown;
}

.container {
    background-color: rgb(164, 135, 99);
    width: 100%;
    margin: auto;
}

.pizza {

    margin: 0.5em;
    padding: 0.5em;
    width: 20em;
    border-radius: 0.25em;
    display: inline-block;
    background-color: #d8db2e;
    color: blue;
}

.btn {

    color: blue;
    background-color: white;
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    float: right;
}

table {

    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

th,
td {

    border: 0.5px solid black;
    background-color: #d8db2e;
    padding: 0.5em;
}


.message {

    padding: 1em;
    color: rgb(223, 8, 8);
}

.cart {

    display: flex;
}

.cart div {

    flex: 1em;
}

[x-cloak] {

    display: none !important;
}