.pizza {

    border: 1px solid;
    margin-bottom: 1em;
    padding: 1em;
}

body {
    background-image: url(images/pizza-2.png);
    background-color: gainsboro;
    color:black;
}

.container {
    background-color:grey;
    width: 100%;
    margin: auto;
}

.pizza {

    margin: 0.5em;
    padding: 0.5em;
    /* width: 20em; */
    border-radius: 0.25em;
    display: inline-block;
    background-color: #a7b3c8;
    color: blue;
    text-align: center;
    
}

.btn {

    color:gray;
    background-color: white;
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    /* float: right; */
}

/* table {
    
    border-collapse: collapse;
    width: 80%;
    margin-right: auto;
} */

/* table, th, td {
    border: 1px solid;
} */

/* td, th {
    text-align: lem;
    padding: 1em;
} */

ul li{
    font-size: 20px;
}

.small_pizza {
    background-color: gainsboro;
    color: black;
    display: inline-block;
    /* width: 20em; */
    margin: 0.5em;
    border-radius: 0.253m;
    padding: 0.5em;
    flex: 1;

   
}

.medium_pizza {
    background-color:gainsboro;
    color:black;
    display: inline-block;
    /* width: 20em; */
    margin: 0.5em;
    border-radius: 0.253m;
    padding: 0.5em;
    flex: 1;
   
}

.large_pizza {
    background-color:gainsboro;
    color: black;
    display: inline-block;
    /* width: 20em; */
    margin: 0.5em;
    border-radius: 0.253m;
    padding: 0.5em;
    flex: 1;
    
}

@media (min-width: 960px) {

    .pizzas {
        display: flex;
    }
}

.message {

    padding: 1em;
    color: rgb(5, 69, 5);
}
.errMessage {

    padding: 1em;
    color: rgb(117, 5, 5);
}

/* .cart {

    display: flex;
}

.cart div {

    flex: 1em;
} */

[x-cloak] {

    display: none !important;
}
