.pizza {

    border: 1px solid;
    margin-bottom: 1em;
    padding: 1em;
}

body {
    background-image: url(images/pizza-2.png);
    background-color: rgb(164, 135, 99);
    color:black;
}

.container {
    background-color: rgb(164, 135, 99);
    width: 100%;
    margin: auto;
}

.pizza {

    margin: 0.5em;
    padding: 0.5em;
    width: 20em;
    border-radius: 0.25em;
    display: inline-block;
    background-color: #d8db2e;
    color: blue;
}

.btn {

    color: blue;
    background-color: white;
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    float: right;
}

table {

    border-collapse: collapse;
    width: 80%;
    margin-right: auto;
}

table, th, td {
    border: 1px solid;
}

td, th {
    text-align: lem;
    padding: 1em;
}

ul li{
    font-size: 20px;
}
.small_pizza {
    background-color: #d8db2e;
    color: blue;
    display: inline-block;
    width: 20em;
    margin: 0.5em;
    border-radius: 0.253m;
    padding: 0.5em;
   
}

.medium_pizza {
    background-color: #d8db2e;
    color: blue;
    display: inline-block;
    width: 20em;
    margin: 0.5em;
    border-radius: 0.253m;
    padding: 0.5em;
   
}

.large_pizza {
    background-color: #d8db2e;
    color: blue;
    display: inline-block;
    width: 20em;
    margin: 0.5em;
    border-radius: 0.253m;
    padding: 0.5em;
    
}

@media (min-width: 960px) {

    .pizzas {
        display: flex;
    }
}

.message {

    padding: 1em;
    color: rgb(123, 14, 14);
}

.cart {

    display: flex;
}

.cart div {

    flex: 1em;
}

[x-cloak] {

    display: none !important;
}


